In [1]:
import pandas as pd
import pyarrow
import geopandas
import matplotlib.pyplot as plt
import raster2xyz
import matplotlib.colors as colors
from mpl_toolkits.basemap import Basemap
import numpy as np
from itertools import chain

In [2]:
# from parquet to csv
file = pd.read_parquet('../Data/newdata_v2.parquet', engine = 'pyarrow')

In [3]:
file = file.loc[:,['lat', 'lon', 'label']]

In [4]:
file.head()

         lat         lon  label
0  42.059122 -125.292524  water
1  42.059122 -125.288031  water
2  42.059122 -125.283538  water
3  42.059122 -125.279044  water
4  42.059122 -125.274551  water

In [5]:
gdf = geopandas.GeoDataFrame(file, geometry=geopandas.points_from_xy(file.lon, file.lat))

In [6]:
gdf.head()

         lat         lon  label                     geometry
0  42.059122 -125.292524  water  POINT (-125.29252 42.05912)
1  42.059122 -125.288031  water  POINT (-125.28803 42.05912)
2  42.059122 -125.283538  water  POINT (-125.28354 42.05912)
3  42.059122 -125.279044  water  POINT (-125.27904 42.05912)
4  42.059122 -125.274551  water  POINT (-125.27455 42.05912)

In [7]:
gdf['label'].value_counts()

land           3740525
water          1725997
burned           11330
fwi_high          9838
cloud              397
active_fire         53
Name: label, dtype: int64

In [ ]:
# gdf.to_file('../../finalproj_data/input_data/gdf.shp')

In [ ]:
# Change to Numeric
gdf.loc[(gdf['label']=='water'), 'label'] = 0
gdf.loc[(gdf['label']=='land'), 'label'] = 1
gdf.loc[(gdf['label']=='cloud'), 'label'] = 1
gdf.loc[(gdf['label']=='burned'), 'label'] = 2
gdf.loc[(gdf['label']=='active_fire'), 'label'] = 3
gdf.loc[(gdf['label']=='fwi_high'), 'label'] = 3

In [10]:
gdf.loc[(gdf['label']=='water'), 'geometry']

0          POINT (-125.29252 42.05912)
1          POINT (-125.28803 42.05912)
2          POINT (-125.28354 42.05912)
3          POINT (-125.27904 42.05912)
4          POINT (-125.27455 42.05912)
                      ...
5487817    POINT (-115.26340 32.41122)
5487818    POINT (-115.25891 32.41122)
5487819    POINT (-115.25441 32.41122)
5487820    POINT (-115.24992 32.41122)
5487821    POINT (-115.24543 32.41122)
Name: geometry, Length: 1725997, dtype: geometry

In [ ]:
gdf['label'].value_counts()

### Plot

In [ ]:
gdf.crs = {'init': 'epsg:4326', 'no_defs': True}

gdf = gdf.to_crs(epsg=3857)

In [ ]:
gdf.plot(['label'], markersize = 5, figsize = (15, 15))

# import model predictions

In [ ]:
pred = geopandas.read_file('../../finalproj_data/model_predictions/model_pred.shp')

In [ ]:
pred.head()

In [ ]:
# Change to Numeric
pred.loc[(pred['prediction']=='water'), 'prediction'] = 0
pred.loc[(pred['prediction']=='land'), 'prediction'] = 1
pred.loc[(pred['prediction']=='burned'), 'prediction'] = 2
pred.loc[(pred['prediction']=='active_fire'), 'prediction'] = 3

In [ ]:
pred.plot(['prediction'], markersize = 5, figsize = (15, 15))

## Create slide for Features

In [ ]:
df = pd.read_excel('../../featureimportance.xlsx')

In [ ]:
df = df['Unnamed: 3'].value_counts()

In [ ]:
for i in df.index:
    print(i)

In [ ]:
len(df.index)